﻿@page "/"
@using BlazorApp.Data.Domain.User
@inject IUserService UserService

<h1>Hello, world!</h1>
<ul>
    @foreach (var i in users)
    {
        <li>
            <input @bind="i.Name" />
            <input @bind="i.BirthDay" />
        </li>
    }
</ul>
<input placeholder="Todo something" @bind="newUser" />
<button @onclick="AddTodo">Add todo</button>

Welcome to your new app.
@code{
    List<User> users = new List<User>();
    private string newUser = "";

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newUser))
        {
            var newTodoItem = new User {Name = newUser, BirthDay = DateTime.Today};
            users.Add(newTodoItem);
            UserService.InsertUser(newTodoItem);
            newUser = string.Empty;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        users = await UserService.GetUsers();
    }
}
